html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(75, 28, 5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1em;
    color: rgb(226, 214, 214);
    text-align: center;
    width:90vw;
    margin:auto;
    padding:3vh 0;
    min-width:154px;
}


nav a{
    text-decoration: none;
    color:darkgrey;
    padding:0 8vw;
}
nav a:hover{
    background-color: white;
}
h1,blockquote{
    text-shadow:2px 2px rgb(233, 61, 61);
}
figcaption{
    max-width:80vw;
    margin:auto;
}
header > p, h1{
    margin:0;
}
header>p{
    margin-bottom: 5vh;
}

nav ul{
    border:2px solid rgb(117, 1, 1);
    box-shadow: 0 0 40px rgb(117,1,1);
    display: flex;
    padding:2vh 0;
    gap: 2vw 4vw;
    width:90vw;
    margin:5vh auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
a{
    color: aqua;
}
a:hover{
    background-color:azure;
    color:black;
}
img{
    width:90%;
    height:80vh;
    margin:auto;
    object-fit:cover;
    box-shadow: 0 0 60px rgb(3, 2, 2);
}
figure{
    margin:5vh 0;
    font-size: 0.8rem;
}
ul{
    list-style-type:none;
    padding:0;
}section li{
    margin:5vh auto;
}
section{
    margin: 5vh auto;
}
span{
    font-weight: 900;
}
section p{
    display: inline-block;
    width:80vw;
    margin:auto;
}
blockquote{
    margin:6vh auto;
    width:90%;
    font-style:italic;
    font-size: 1.5em;

}
footer{
    width:90%;
    margin:auto;
}
@media (max-width:375px){
    nav ul{
        display:inline-flex;
        row-gap:2vh;
        width:50vw;
        margin:auto;
        flex-direction: column;   
    }
    nav li{
        width:auto;
        margin:0;
    }
    nav a{
        padding:0 18vw;
    }
}
@media (min-width:2000px){
    body{
        font-size: 2rem;
    }
    figcaption{
        font-size: 1.5rem;
    }
}
