body{
    background-color: rgb(75, 28, 5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(226, 214, 214);
    text-align: center;
    padding: 3vh 0;;
    margin:0;
    
}
nav{
    width: 90vw;
    margin:auto;
}
nav>ul{
    display: grid;
    padding:2vh;
    place-items:center center;
    justify-content:space-between;
    grid-gap:3vw;
    grid-template-columns: repeat(auto-fit, minmax(3vw,auto));
    grid-auto-flow: column;
    border:3px solid rgb(105, 5, 5);
}
nav a{
    text-decoration: none;
    color:darkgrey;
}
nav a:hover{
    background-color: white;
}
h1,blockquote{
    text-shadow:2px 2px rgb(233, 61, 61);
}
header > p, h1{
    margin:0;
}
header>p{
    margin-bottom: 5vh;
}
a{
    color: aqua;
}
a:active{
    background-color:azure;
    color:black;
}
img{
    width: 95%;
    height:70vh;
    object-fit:cover;
    margin:auto;
    box-shadow: 0 0 60px rgb(3, 2, 2);
}
figure{
    margin:5vh 0;
    font-size: 0.8rem;
}
ul{
    list-style-type:none;
}
ul li{
    scroll-behavior: smooth;
}
section{
    margin: 0 auto;
    max-width:75vw;
}
span{
    font-weight: 900;
}
section p{
    display: inline-block;
    margin-left:0;
}
blockquote{
    margin:6vh auto;
    font-style:italic;
    font-size: 1.8rem;;

}
@media (max-width:768px){
    nav>ul{
        grid-template-rows:repeat(2,1fr);
      
    }
}
